@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-roboto: Roboto;

  /* font sizes */
  --font-size-6xl: 25px;

  /* Colors */
  --color-black: #000;
  --color-palevioletred-100: #d97083;
  --color-palevioletred-200: rgba(217, 112, 131, 0.13);
  --color-palevioletred-300: rgba(217, 112, 131, 0.31);
  --color-palevioletred-400: rgba(217, 112, 131, 0.06);
  --color-whitesmoke: #f1f1f1;

  /* Border radiuses */
  --br-3xs: 10px;
}
